* {
  box-sizing: border-box;
}

.mainContainer {
  width: 600px;
  padding: 25px;
  background-color: #1a1a1a;
  border-radius: 30px;
}

.inputPassword {
  border: 2px solid #242424;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.inputPassword input {
  font-size: 18px;
  border: none;
  background: none;
  outline: none;
  width: 400px;
}

.copyButton {
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.3;
}

.copyButton:hover {
  opacity: 1;
}

.createButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
  cursor: pointer;
}

.allertPassword {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 400px;
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  margin: 0;
}

.allertPasswordActive {
  position: absolute;
  right: -400px;
  bottom: 25px;
  width: 400px;
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
